@import 'includes/settings';
@import 'node_modules/bourbon/app/assets/stylesheets/_bourbon.scss';

*::-webkit-input-placeholder {
    opacity: 1;
    color: #666;
}
*:-moz-placeholder {
    opacity: 1;
    color: #666;
}
*::-moz-placeholder {
    opacity: 1;
    color: #666;
}
*:-ms-input-placeholder {
    opacity: 1;
    color: #666;
}

@include keyframes(backlight) {
    0% {
        box-shadow: 0 0 5px 5px rgba(255,255,255,0);
    }
    50% {
        box-shadow: 0 0 5px 5px rgba(255,255,255,.6);
    }
    100% {
        box-shadow: 0 0 5px 5px rgba(255,255,255,0);
    }
}

.clearfix:before,
.clearfix:after {
    display: table;

    content: '';
}
.clearfix:after {
    clear: both;
}

.loader {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    background: none repeat scroll 0 0 $white;
    .loader-inner {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 60px;
        height: 60px;
        margin-top: -30px;
        margin-left: -30px;

        background-color: $white;
        background-image: url('../img/preloader.gif');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

body {
    font-family: OpenSansRegular;
    font-size: 14px;
    line-height: 1.6;

    position: relative;

    overflow-x: hidden;

    min-width: 320px;

    background-color: #000;

    @include transition(all .25s);
}

a {
    display: inline-block;
	color: $asphalt;
    text-decoration: none;
}

a:visited {
    color: $lnk;
}

ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.delay-75s {
    @include animation-delay (.75s);
}

.delay-05s {
    @include animation-delay (.50s);
}

.delay-25s {
    @include animation-delay (.25s);
}

.left {
    float: left;
}

.right {
    float: right;
}

.white {
	background-color: $white;
}

.container {
    position: relative;
    padding: 0 15px;
}

.banner {
    padding: 35px 0;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    .banner {
        img {
            max-width: 201px;
        }
    }
}

.shadow-2 {
	box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
}

.navigation-mobile.opened {
	transform: translate(0%, 0);
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);
}

.navigation {
	max-width: 950px;
	margin: 0 auto;
	padding-bottom: 10px;
	height: 25px;
    nav {
        text-align: center;
        @include clearfix;
        .header-nav-open {
			display: none;
			background-image: url(../img/basket.png);
			background-position: 17px -32px;
			background-repeat: no-repeat;
			background-clip: content-box;
			height: 20px;
			width: 22px;
			padding: 15px;
			cursor: pointer;
			float: left;
        }
    }
    .babel {
        float: left;
        li {
            float: left;
            a {
                font-size: 13px;
                line-height: 18px;

                position: relative;

                padding: 0 7px 0 0;

                color: $asphalt;
            }
            .active {
                color: $black;
                &:after {
                    position: absolute;
                    bottom: 2px;

                    display: block;

                    width: 75%;
                    height: 1px;

                    content: '';

                    background: $gradient-gold;
                }
            }
        }
    }
    .navigation-mobile {
    	display: inline-block!important;
		.menu {
	        display: inline-block;
			@include clearfix;
	        margin: 0 auto;
	        li {
	            float: left;
	            @include clearfix;
	            &:hover .level-2 {
					visibility: visible!important;
				} 
	            a {
	                line-height: 18px;

	                padding: 0 15px 15px 0;
					font-size: 13px;
					text-transform: uppercase;
					text-align: left;
	                color: $lnk;
	                &:hover {
						color: $gold;
					} 
	            }
	        }
	        .level-2 {
	        	position: absolute;
	        	background-color: $white;
	        	visibility: hidden;
	        
	        	@include clearfix;
				
	        	li {
	        		float: none;
	        		width: auto;
	        		height: 48px;
	        		// float: left;
					a {
						padding: 10px;

						display: block;
						padding: 15px 20px;
						&:hover {
						background-color: $gold;
						color: $white;
						}  
					} 
	        		&:hover .level-3 {
						visibility: visible!important;
					} 
	        	}    
	        }
	        .level-3 {
				background-color: $white;
				position: relative;
				visibility: hidden;
				left: 100%;
				top: -48px;
				li {
					width: auto;
					float: none;
					a {
						&:hover {
							background-color: $gold;
							color: $white;
						}  
					}
				}
	        }
	    }
	    .active {
	    	background-color: $gold;
	    	color: $white;
	    }
    }
    .basket-nav {
        float: right;
        a {
            font-size: 13px;
            img {
                margin-right: 8px;

                vertical-align: sub;
            }
        }
        .basket-mini {
        	position: relative;
            // &:hover .basket-content {
            //     display: block;
            // }
        }
        .arr {
        	display: none;
			height: 3px;
			width: 12px;
			background-color: $white;
			position: absolute;
			top: 34px;
			right: 9px;
			z-index: 1;
        	&:before {
				content: '';
				position: absolute;
				height: 2px;
				top: -3px;
				left: 4px;
				width: 10px;
				background: #eaeaea;
				z-index: 3;
				transform: rotate(50deg);
			}
			&:after {
				content: '';
				position: absolute;
				height: 2px;
				top: -3px;
    left: -3px;
				width: 11px;
				background: #eaeaea;
				z-index: 3;
				transform: rotate(-50deg);
			}
        }
        .basket-total {
            position: relative;
			&:before {
				content: "";
				background-image: url(../img/basket.png);
				background-position: 0 0;
				background-repeat: no-repeat;
				height: 20px;
				width: 20px;
				display: inline-block;
				position: absolute;
				left: -25px;
				top: 3px;
			}
            .basket-img {
				display: none;
            }
        }
        .basket-content {
            position: absolute;
            display: none;
            border: 2px solid $metal;
            border-bottom-width: 1px;
            right: -15%;
            top: 35px;
            .basket-inner {
            	@include clearfix;
            	position: relative;
            	margin: 18px;
            	width: 210px;
            	border-bottom: 1px solid $lnk;
            	padding-bottom: 20px;
            	.mini-basket-image {
	                overflow: hidden;
					float: left;
	                max-width: 50px;
	                margin-right: 10px;
	                img {
	                    width: 100%;
	                }
            	}
            }
            .mini-basket-name {
            	width: 60%;
				float: left;
				text-align: left;
            	a {
					font-size: 14px;
				}
            }
			.mini-basket-descr,.mini-basket-pricing {
				width: 85%;
				text-align: left;
				color: $asphalt;
				.mini-basket-price {
					color: $lnk;
					font-weight: bold;
				}
			}
            .close-mini-basket-control {
                right: 0;
				color: $metal;
				position: absolute;
                cursor: pointer;
                padding: 5px;
                .mini-basket-cross {
                    position: relative;
                    z-index: 1;
                    display: block;

                    width: 12px;
                    height: 12px;
                    &:before {
                        position: absolute;
                        z-index: -1;
                        left: 45%;

                        width: 10%;
                        height: 100%;

                        content: '';
                        transform: rotate(45deg);
                        background: $metal;
                    }
                    &:after {
                        position: absolute;
                        z-index: -1;
                        left: 45%;

                        width: 10%;
                        height: 100%;

                        content: '';
                        transform: rotate(-45deg);
                        background: $metal;
                    }
                }
            }
        }
        .mini-basket-totals {
			padding: 18px;
			width: 86%;
			left: -1px;
			background: $white;
			position: relative;
			border-top: 1px solid #eaeaea;
        	@include clearfix;
        	a:first-child {
        		font-size: 13px;
        		color: $asphalt;
        		float: left;
        		text-decoration: underline;
        	}
        	a:last-child {
        		font-size: 14px;
        		color: $bromze;
        		float: right;
        		text-transform: uppercase;
        	}
        }
    }
}

.content-top {
	background-image: url(../img/Group-1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 650px;
	padding: 0 15px;
	@include clearfix;
	.content-top-inner-left {
		width: 50%;
		float: left;
		text-align: right;
		position: relative;
		top: 42%;
		a {
			padding: 20px;
			color: $bromze;
			font-size: 28px;
			font-weight: bold;
		}
	}
	.content-top-inner-right {
		width: 50%;
		float: right;
		text-align: left;
		position: relative;
		top: 42%;
		a {
			padding: 20px;
			color: $gold;
			font-size: 28px;
		}
	}
}

.height {
	height: 2000px;
}

.navigation-mobile.opened + .page-overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
	.banner {
		padding: 0;
		a {
			z-index: 3;
			left: 50%;
			margin-left: -65px;
			width: 130px;
			display: block;
			top: 15px;
			height: 20px;
			position: fixed;
			background-clip: content-box;
			text-align: center;
			background-image: url(../img/logo.png);
			background-repeat: no-repeat;
			background-position: 0 -40px;
			overflow: hidden;
		}
		img {
			display: none;
		}
	}
	.container {
		padding: 0!important;
	}
	.navigation {
		position: fixed;
		width: 100%;
		padding: 0 15px;
		background-color: #fff;
		height: 50px;
		z-index: 2;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
	.babel {
		display: none;
	}
	.basket-total:before {
		display: none!important;
	}
	.basket-nav {
		.arr {
			top: 35px!important;
		}
	}
	.basket-content {
		top: 36px!important;
	}
	.basket-img {
		background-image: url(../img/basket.png);
		background-position: 0 -25px;
		background-repeat: no-repeat;
		display: inline-block!important;
		position: absolute;
		left: -24px;
		top: 3px;
		height: 20px;
		width: 18px;
		font-size: 9px;
		font-style: initial;
	}
	.basket-img span {
		vertical-align: -webkit-baseline-middle;
		color: $bromze;
		line-height: 2;
	}
	.header-nav-open {
		display: inline-block!important;
	}
	.navigation-mobile {
		transform: translate(-100%, 0);
		transition: transform 250ms ease;
	    float: none;
	    min-width: 220px;
	    max-width: 290px;
	    bottom: 0;
	    top: 50px;
	    left: 0;
	    position: fixed;
	    background: $white;
	    z-index: 9999;
	    overflow-y: auto;
	    overflow-x: hidden;
		.menu {
			width: 100%;
		    li {
		    	float: none!important;
		    	display: block;
		    	a {
					position: relative;
					width: 91%!important;
					max-width: 100%!important;
					padding: 20px 0 20px 20px !important;
					margin-left: -1px;
					border-top: 1px solid $gold;
					border-width: 1px 0;
		    	}
		    	&:first-child a {
					border: none;
				}
		    }
		    ul.level-2 {
	        	position: relative!important;
	        	padding: 0!important;
	        	height: auto!important;
	        	visibility: visible!important;

	        	li {
	        		width: auto!important;
	        		height: auto!important;
	        		a {
	        			display: inline-block!important;
	        			border-top: 1px solid $gold;
	        		}
	        	}
	        }
	        ul.level-3 {
	        	position: relative!important;
	        	padding: 0!important;
	        	left: 0!important;
	        	top: auto!important;
	        	a {
	        		display: inline-block;
	        		border-top: 1px solid $gold;
	        	}
	        }
		}
		.collapsible:after {
			content:'>';
			// background: url(../img/expanded.gif) left 6px no-repeat;
			height: 20px;
			width: 20px;
			position: absolute;
		    right: 0;
		    top: 33%;
			display: block; 
		}
		.collapsed {
			height: 20px;
			width: 20px;
			display: block; 
			// background:url(../img/collapsed.gif) left 6px no-repeat; 
			&:after {
				content:'+';
				// background: url(../img/expanded.gif) left 6px no-repeat;
				height: 20px;
				width: 20px;
				position: absolute;
			    right: 0;
			    top: 0%;
				display: block; 
			}
		}
		.expanded {
			height: 20px;
			width: 20px;
			display: block; 
			// background:url(../img/expanded.gif) left 6px no-repeat;
			&:after {
				content:'|';
				// background: url(../img/expanded.gif) left 6px no-repeat;
				height: 20px;
				width: 20px;
				position: absolute;
			    right: 0;
			    top: 2%;
				display: block; 
			} 
		}
		.item {
		    position: absolute;
		    right: 0;
		}
	}
	.basket-nav {
		position: absolute;
		right: 57px;
		top: 14px;
		.my-bag {
			display: none;
		}
	}
}	