$gradient-gold: linear-gradient(to top, #b6926f, #d7c099);
$bromze: #b6926f;
$gold: #d7c099;
$lnk: #343434;
$red: #e57373;
$asphalt: #838383;
$metal: #eaeaea;
$paper: #fbfbfb;
$black: #000;
$white: #fff;
$body: #ece7dd;